# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

# Anthropic
ANTHROPIC_API_KEY=

# Resend
RESEND_API_KEY=
RESEND_FROM_EMAIL=noreply@getquotr.nl

# Mollie
MOLLIE_API_KEY=
MOLLIE_WEBHOOK_URL=

# App
NEXT_PUBLIC_APP_URL=https://getquotr.nl
TAX_EXPORT_PIN_SALT=
